{% assign active_class = "text-black font-medium" %}
{% assign inactive_class = "text-nav-text hover:text-gray-900" %}

{% capture nav_class %}
  {% if page.url contains include.url_segment %}
    {{ active_class }}
  {% else %}
    {{ inactive_class }}
  {% endif %}
{% endcapture %}

<a href="/{{ include.url_segment }}" class="{{ nav_class | strip }}">
  {{ include.label }}
</a>
